.circle-section {
    border: 2px;
    height: 400px;
    width: 400px;
    border-radius: 1100px;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(red, yellow, green);
    position: relative;
}

.circle-section button i {

    font-size: 50px;
}

.circle-section button {
    align-self: center;
    height: 50px;
    width: 80px;
    border: none;
    background-color: #F7E323;
}

.circle-section button:hover {
    background-color: yellow;
}

.first-header {
    position: absolute;
    top: -4px;
    font-size: 50px;
}

.sec-header {
    position: absolute;
    left: 80px;
    bottom: 40px;
    font-size: 50px;
}

.third-header {
    position: absolute;
    right: 70px;
    bottom: 40px;
    font-size: 50px;
}

.fourth-header {
    position: absolute;
    left: 20px;
    top: 130px;
    font-size: 50px;
}

.fifth-header {
    position: absolute;
    right: 20px;
    top: 130px;
    font-size: 50px;
}
.display{
    text-align: center;
    margin: 30px auto;
    
}
.display input {
    height: 30px;
    width:140px; 
}
 #btn2{
    height: 35px;
    width:40px;
    margin-left:15px;
}
#btn3 {
    height: 35px;
    width:100px ;
    margin-left:15px;
}

.display div {
    padding: 10px;
    margin: 20px auto;
    height: auto;
    width: 200px;
    outline: 3px solid black;
}
.display p {
    margin-top: 5px;
    font-weight: 600;
    color: green;
    font-size: 20px;
}